@font-face {
    font-family: 'Bubble';
    src: url('../../fonts/HussarBoldWebEdition-xq5O.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#popup-body {
    display: flex;
    background-color: rgba(43, 39, 66, 0.7);
    font-family: 'Bubble';
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: 100;
}

#apt-settings {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    align-self: center;
    padding: 0;
    color: white;
    background-color: #2B2742;
    border: white 1px solid;
    border-radius: 3px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
}

#apt-settings .p {
    display: flex;
    flex-direction: row;
    margin:0;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 20px;
    border-bottom: solid 1px #b6b5ba;
    font-family:'Calibri';
    font-size: 20px;
    line-height: 1.2;
}