@font-face {
    font-family: 'Bubble';
    src: url('../../fonts/HussarBoldWebEdition-xq5O.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyrillic';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cyrillic-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#popup-body {
    display: flex;
    background-color: 0;
    font-family: 'Cyrillic';
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: 100;
}

#block-settings {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 100px;
    margin-right: 50px;
    padding: 0;
    color: white;
    background-color: #2B2742;
    border: white 1px solid;
    border-radius: 3px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
}

#block-settings .p {
    display: flex;
    flex-direction: row;
    margin:0;
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 20px;
    border-bottom: solid 1px #b6b5ba;
    font-family:'Calibri';
    font-size: 20px;
    line-height: 1.2;
}

#block-settings button {
    width: 90px;
    height: 40px;
    align-self: center;
    font-family: 'Cyrillic-Bold';
    color: #2B2D50;
    background-color: white;
    border: 3.5px solid #2B2D50;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    
}

#block-id {
    font-family: "Arial";
    font-size: 12px;
    align-self: center;
    color: rgb(218, 211, 211);
    margin-bottom: 2%;
}